// FONT FAMILY GLOBAL
$font-family-Roboto: 'Roboto',
sans-serif;
$font-family-Nunito: 'Nunito',
sans-serif;
$font-family-Open-Sans: 'Open Sans',
sans-serif;
// COLOR GLOBAL
$red: #dd4b39;
$orange: #FF851B;
$purple: #605ca8;
$blue: #0073b7;
$green: #00a65a;
$navy: #001F3F;
$color-primary: $purple;
$color-success: $green;
$color-info: $blue;
$color-warning: $orange;
$color-dander: $red;